-# frozen_string_literal: true
= simple_form_for(@machine_parameter) do |f|
  .card-body
    = f.input :processId, wrapper_html: { class: 'mb-3' }
    = f.input :parameterId, wrapper_html: { class: 'mb-3' }

  .card-footer.d-flex
    %button.btn.btn-primary{ type: 'submit' }
      Save
    = link_to 'Back', machine_parameters_path, class: 'btn btn-link ms-auto'
