.row.justify-content-center
  .col-sm-8.col-lg-6
    .card
      .card-header
        User details
      .card-body
        %dl.row.mb-0
      .card-footer.d-flex
        = link_to 'Edit', edit_user_path(@user), class: 'btn btn-link'
        = link_to 'Back', users_path, class: 'btn btn-link ms-auto'