.container.text-center
    .row.mt-5
        .col.text-center
            %span.text-gray The University of Sheffield's
            %h1 Advanced Polymer Sintering Laboratory
            = image_pack_tag 'images/lab3.jpg', height: 200, style: 'max-width: 800px;', class: 'rounded img-fluid my-3'
            %p Based within the Department of Mechanical Engineering, we conduct a wide variety of polymer addtive manufacturing research.
    .row.mt-2
        .col.text-center
            %a.btn.btn-primary.btn-md{:href => "mailto:c.majewski@sheffeld.ac.uk"} Contact us