-# frozen_string_literal: true

= simple_form_for(@attachment_build) do |f|
  .card-body
    = f.input :attachmentId, wrapper_html: { class: 'mb-3' }
    = f.input :buildId, wrapper_html: { class: 'mb-3' }

  .card-footer.d-flex
    %button.btn.btn-primary{ type: 'submit' }
      Save
    = link_to 'Back', attachment_builds_path, class: 'btn btn-link ms-auto'
