.row.justify-content-center
  .col-sm-8.col-lg-6
    - if @material.errors.any?
      .col-sm.col-lg 
        .alert.alert-danger 
          %ul
            - @material.errors.full_messages.each do |message|
              %li= message 
    .card.mb-2
      .card-header 
        Editing
        = @material.name
      = render 'form'

