.row.justify-content-center
  .col-sm-8.col-lg-6
    - if @parameter.errors.any?
      .col-sm.col-lg
        .alert.alert-danger
          %ul
            - @parameter.errors.full_messages.each do |message|
              %li= message
.row.justify-content-center
  .col-sm-8.col-lg-6
    .card
      .card-header New Parameter
      = render 'form'